.container{
  margin: 0 auto;
  padding: 0px 30px 30px 30px;
}

.title{
  text-transform: capitalize;
  color: white;
  background-color: #313131;
  padding: 20px;
}

.lista{
  background-color: #F2F2F2;
  padding: 20px;
  font-family: 'Courier New', Courier, monospace;
  display: inline-block;

  width: 155px;
  height: 200px;

  vertical-align: bottom;
  margin-right: 10px;
  border-radius: 5px;
}


.img__pokemon{
  width: 100px;
}


