<section class="container">
  <h2 class="title">Pokedex</h2>

  <ul *ngFor="let pokemon of pokemons" class="lista">
    <img [src]="pokemon.imagem" class="img__pokemon">
    <li> Número: {{pokemon.id}} </li>
    <li> Nome: {{pokemon.nome}} </li>
    <li> Tipo:
      <span [PokemonType]="pokemon.tipoPrimario">
        {{pokemon.tipoPrimario}}
      </span>
    </li>
    <li *ngIf="pokemon.tipoSecundario?.length > 0; else vazio " > Tipo:
      <span [PokemonType]="pokemon.tipoSecundario">
        {{pokemon?.tipoSecundario}}
      </span>
    </li>
  </ul>
</section>

<ng-template #vazio>
</ng-template>
